/* Admin section */

section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .dashboard-content {
    display: grid;
    gap: 15px;
    -webkit-column-gap: 15px;
    grid-template-columns: auto auto auto;
}

section .dashboard-content div {
    background-color: #fff;
    box-shadow: 0px 1px 10px #dde1e7;
}

section .dashboard-item {
    display: flex;
    text-align: center;
    padding: 50px 120px;
    flex-direction: column;
    gap: 20px;
    -webkit-column-gap: 20px;
}

section .dashboard-item i,
span {
    color: #000;
}

section .dashboard-item i {
    padding: 20px;
    display: flex;
    text-align: center;
    width: fit-content;
    border-radius: 35px;
    background: #f2f2f2;
    color: var(--blueColor);
    box-shadow: inset 7px 7px 13px #d7d7d7, inset -7px -7px 13px #c1c1c1;
}