@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sulphur+Point:wght@300;400;700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/*** RESET ***/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h2 {
    color: #fff;
    font-size: 2rem;
    padding-right: 15px;
    border-top-right-radius: 20px;
    font-family: "Montserrat", sans-serif;
}

.paddings {
    padding: 20px 150px;
}

body {
    font-size: 1rem;
    font-family: "Sulphur Point", sans-serif;
    background: radial-gradient(circle closest-side at center, rgb(183, 185, 187) 10%, rgba(245, 245, 245, 0.829) 70%);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease-in-out infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/*** HEADER ***/

header {
    width: fit-content;
    padding: 25px 60px;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    position: fixed;
    top: 85%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    background-color: #dde1e7;
    box-shadow: 0px 1px 10px #0000003d;
}

header .header-content {
    display: flex;
    justify-content: center;
    gap: 60px;
    -webkit-column-gap: 60px;
}

header .header-content a i {
    color: #252525dc;
    font-size: 1.4rem;
}

header .header-content .header-items {
    position: relative;
    transition: all 0.2s;
}

header .header-content .header-items .tooltip {
    position: absolute;
    top: -220%;
    opacity: 0;
    border-radius: 4px;
    transition: all 0.3s;
    padding: 10px 10px;
    color: #252525dc;
    pointer-events: none;
    transform-origin: bottom;
    background-color: #fff;
    transform: translateX(-40%) scale(0.8);
    box-shadow: 0px 0px 10px #0a0a0a4d;
}

header .header-content .header-items .tooltip::before {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.3em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background-color: #fff;
}

header .header-content .header-items:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(-50%) scale(1);
}

header .header-content .header-items:hover {
    transform: scale(0.9);
}


/* Our blog home page */

.product-home {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(to right, #070707ef 0%, #89949ee5 100%), url('../images/Produits/prod.JPG'), no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.product-container {
    width: 60%;
    text-align: center;
}

.product-home p {
    margin-top: 20px;
}


/* product details */

.prod-part-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.prod-part h3 {
    color: #fff;
    padding: 10px 25px;
    width: fit-content;
    background-color: #070707ef;
}

.prod-part .prod-first-bloc {
    width: 100%;
}

.prod-part .prod-first-bloc img {
    width: 100%;
    background-color: #dde1e7;
}

.prod-first-bloc div {
    display: grid;
    gap: 5px;
    -webkit-column-gap: 5px;
    grid-template-columns: auto auto auto auto;
}

.prod-first-bloc div img {
    width: 100%;
}

.prod-part-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
    -webkit-column-gap: 30px;
}

.prod-second-bloc h4 {
    padding: 10px 15px;
    color: #fff;
    width: fit-content;
    font-style: italic;
    background-color: #07070785;
}

.prod-second-bloc .stars i {
    color: #aeae1a8b;
    margin-top: 10px;
    font-style: italic;
}

.prod-second-bloc p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.prod-second-bloc span {
    font-style: italic;
    font-weight: 700;
    color: #89949ee5;
}